.bg-custom{
    background-color: rgba(27, 27, 25, 0.445);
}
.swiper-pagination-bullet-active{
    background:#fff;
}
.swiper-pagination-bullet{
    background:#fff;
}

.item-card {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .item-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
  